.font-18 {
  font-size: 18px;
}
.mb-6 {
  margin-bottom: 4rem;
}
.p-10 {
  padding: 0 10%;
}
.dark-bg {
  background-color: #26313c;
}
.circle {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 2.3rem;
  margin-left: 30%;
}
.line-add li {
  position: relative;
}
.line-add li .circle::after {
  content: " ";
  display: block;
  position: absolute;
  height: 1px;
  background: #fff;
  width: 30%;
  left: 100%;
  top: 8%;
}

.line-add li .circle::before {
  content: " ";
  display: block;
  position: absolute;
  height: 1px;
  background: #fff;
  width: 30%;
  right: 100%;
  top: 8%;
}
