.font-18 {
  font-size: 18px;
}
.mb-6 {
  margin-bottom: 4rem;
}
.p-10 {
  padding: 0 10%;
}
.dark-bg {
  background-color: #26313c;
}
.circle {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 1.8rem;
  margin-left: 30%;
  font-size: 28px;
  font-weight: 600;
}
.line-add li {
  position: relative;
}

.line-add li:last-child .circle:after,
.line-add li:last-child .circle::before {
  display: none;
}
.line-add li .circle::after,
.line-add li .circle::before {
  content: " ";
  /* display: block; */
  position: absolute;
  height: 1px;
  background: #fff;
  width: 60%;
  right: -30%;
  top: 10%;
}
.circle-active {
  background: linear-gradient(90deg, #5192e1, #23ced5);
}
