.single-team {
  width: 100%;
  height: 400px;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.6s ease-out;
}
/* .single-team:hover {
  transform: translateY(15px);
}*/
.single-team:hover:before {
  opacity: 1;
}
.single-team:hover .team-text {
  opacity: 1;
  transform: translateY(0);
}
.single-team:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, transparent);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.single-team img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.single-team .team-text {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(60px);
  transition: 0.5s;
}
