html {
  scroll-behavior:initial;
}
body {
  /* background-color: #fcfcfc; */
  background-color: #fff;
  
}
h1, h2, h3, h4, h5 {
  font-family:  sans-serif;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2rem;
}

.logocls{
  color:#fff ;
}
/* .header .li-inline li :nth-child(1){
  border-bottom: 5px solid #24cdde;
} */
.white-clr{
  color:#fff;
}

.header .li-inline li{
display: inline;
float: left;
}
.header li a {
  text-transform: capitalize;
  font-size: 14px;
  position: relative;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
}
nav{
  height: 6rem;
 
}
.navbar .li-inline .nav-item .nav-link:active{
border-bottom: #23ced5;
}
.sticky{
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0,0,0,.1);
  height: 4rem;
}
.sticky a {
  color: #26313c;
}
.sticky ul li a {
  color: #26313c;
}

.navbar-toggler{
  outline: none;
}
.sticky .navbar-toggler span{
color: #26313c;
}


/* bannar  */
.bannar {
  background-image: linear-gradient(rgba(51, 49, 49, 0.5), 100%, #808080),
    url("./img/img1.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.banner-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.fnt-300{
  font-weight: 300;
}
.banner-txt h4 {
  color: #fff;
  font-weight: 400;
}
.banner-txt h3 {
  color: #fff;
  font-weight: 400;
}

/* bannar  */

/* footer  */

footer{
  margin-top: 2rem;
  color:#fff;
  width: 100%;
  /* margin-left: 1.9rem; */
  margin: 0rem -1rem;

}
.bg-footr{
 background-color: #26313c;
 padding-top: 2rem;
}

.pad-top{
  padding-top: 4rem;
}
.pad-btm{
  padding-bottom: 4rem;
}
.blue-clr {
  color: #24cdd5;
}

.li-inline-cs{
  
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.li-inline-cs a{
  color: #26313c;
}
.mar-23{
  margin: 0 23%;
}
.ml-20{
  margin-top: 1rem;
  margin-left: 40rem;
}
.bg-blog{
  background-color: #f6f7f8;
}
.bottom10{
  padding-bottom: 10px;
}
.mar-top-2{
  margin-top: 1.5rem;
}
.bodycontainerbg{
  background-color: #fff;
}
.bodycontainer {
  width: 100%;
  height: 0vh;
  transform: translate(0, -100px);
  contain: "";
  /* background-color: transparent; */
}
.card-box{
  padding: 20px;
  color: #fff;
  
}

.bg-clipboard:hover span i,.bg-laptop:hover span i, .bg-globe:hover span i{
  transform:scale(1.3)  ;
  transition: all 1s;
}
.a-link a:hover{
  text-decoration: none;
}
.card-box a{
  color: #fff;
}
.bg-globe{
  background-color: #26313c;
  left: 4rem;
}
.bg-clipboard{
  background-image: linear-gradient(to right, #5192e1 0%, #23ced5 51%, #5192e1 100%);
  position: relative;
  height: 120%;
  margin-top: -2rem;
  display: block;
  z-index: 1;
}
.bg-laptop{
  background-color: #26313c;
  right: 3rem;
  position:absolute;
  margin-left: -2rem;
}
.mt-20{
  margin-top: 15rem;
}
.pt-20{
  padding: 7rem 0;
}
.dark-bg{
  background-color: #26313c;
}
.bottom15{
  padding-bottom: 1.5rem;
}

.ht-130{
  height: 130px;
}
.pt-12{
  padding-top: 7rem;
}
.price-not{
  content: "X";
}
.button{
  border-color: #fff;
  background: #24cdd5;
  color: #fff;
  display: table;
  margin: 0 auto;
}
.filter-item::before {
  display: inline-block;
  padding-right: 1rem;
  padding-left: 0.5rem;
  color: inherit;
  content: "/";
}
ul li{
  list-style-type: none;
}
.test-star {
  font-size: 12px;
  color: #ffc13c;
  cursor: pointer;
}

.circle{
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 2rem;
}
.li-inline-cs li ::after,
.li-inline-cs li ::before{ 
  content: "";
  width: 0%;
  height: 0.2rem;
  background-color:#fff ;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;

}