html {
  scroll-behavior: smooth;
}
body {
  /* background-color: #fcfcfc; */
  background-color: #fff;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logocls{
  color:#fff !important;
}
/* .header .li-inline li :nth-child(1){
  border-bottom: 5px solid #24cdde;
} */

.header .li-inline li{
display: inline;
float: left;
}
.header li a {
  text-transform: capitalize;
  font-size: 14px;
  position: relative;
  font-weight: 600;
  letter-spacing: 2px;
}


/* bannar  */
.bannar {
  background-image: linear-gradient(rgba(51, 49, 49, 0.5), 100%, #808080),
    url("./img/img1.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.banner-txt {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.fnt-300{
  font-weight: 300;
}
.banner-txt h4 {
  color: #fff;
  font-weight: 400;
}
.banner-txt h3 {
  color: #fff;
  font-weight: 400;
}

/* bannar  */

/* footer  */

footer{
  margin-top: 2rem;
  color:#fff;
  width: 100%;
  /* margin-left: 1.9rem; */
  margin: 0rem -1rem;

}
.bg-footr{
 background-color: #26313c;
 padding-top: 2rem;
}

.pad-top{
  padding-top: 4rem;
}
.pad-btm{
  padding-bottom: 4rem;
}
.blue-clr {
  color: #24cdd5;
}

.li-inline-cs{
  
  display: flex;
  justify-content: space-evenly;
}
.li-inline-cs a{
  color: #26313c;
}
.mar-23{
  margin: 0 23%;
}

.bg-blog{
  background-color: #f6f7f8;
}
.bottom10{
  padding-bottom: 10px;
}
.mar-top-2{
  margin-top: 1.5rem;
}
.bodycontainerbg{
  background-color: #fff;
}
.bodycontainer {
  width: 100%;
  height: 0vh;
  transform: translate(0, -100px);
  contain: "";
  background-color: transparent;
}