.pt-10 {
  padding: 10rem 0;
}
.bg-gray {
  background-color: #f6f7f8;
}

.darkcolor {
  color: #384141;
}

.small-text {
  color: #808080;
}
.bdr-xy {
  padding: 15px 0 14px 0;
  border-top: 1px solid rgba(139, 144, 157, 0.18);
  border-bottom: 1px solid rgba(139, 144, 157, 0.18);
}
.price-toggle-wrapper {
  position: relative;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 30px;
  overflow: hidden;
  display: inline-flex;
}
.heading_space {
  margin-bottom: 3.75rem;
}
.price-toggle-wrapper .Pricing-toggle-button.active {
  color: #fff;
  cursor: default;
}
.price-toggle-wrapper .Pricing-toggle-button {
  padding: 10px 110px;
  user-select: none;
  cursor: pointer;
  z-index: 1;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  transition: 0.3s;
}
.price-toggle-wrapper .Pricing-toggle-button.month.active::before {
  transform: translateX(-5%);
  background-position: left center;
}
.price-toggle-wrapper .Pricing-toggle-button.month::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 100%;
  border-radius: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  overflow: hidden;
  transform: translateX(95%);
  z-index: 2;
  background-image: linear-gradient(
    to right,
    #5192e1 0%,
    #23ced5 51%,
    #5192e1 100%
  );
  background-size: 200% auto;
  background-position: right center;
}
.btn-blue {
  border-color: #fff;
  background: #24cdd5;
  color: #fff;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  font-size: 15px;
  padding: 0.8rem 2.25rem;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  z-index: 1;
  border: 1px solid transparent;
  border-radius: 30px;
}
.pricing-list {
  font-size: 14px;
  display: inline-block;
  padding-left: 0;
}
.pricing-list li {
  margin: 0 0 14px 5px;
  text-align: left;
  font-size: 1rem;
  position: relative;
}
.pricing-list li .fa-check {
  color: #b2cb20;
}
.pricing-list li .fa-times {
  color: #e84455;
}
.pricing-list li span {
  padding-left: 20px;
}
.pricing-item.active .pricing-list li::before {
  color: #fff;
}
.pricing-item.active {
  background: #26313c;
}
.pricing-item.active,
.pricing-item.active .pricing-list li span,
.pricing-item.active .pricing-list li i,
.pricing-item.active .card-items .font-light,
.pricing-item.active .card-items .small-text {
  color: #fff;
}
.pricing-item.active .btn-blue {
  border-color: #fff;
  background: #26313c;
  transition: 0.2s all;
}
.pricing-item.active .btn-blue:hover {
  background: #fff;
  color: #384141;
}
/* .pricing-list li::before,
.price-included::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free", serif;
  font-weight: 900;
  position: absolute;
  left: -25px;
  color: #b2cb20;
} */
