.bodycontainerbg {
  background-color: #fff;
}
.bodycontainer {
  width: 100%;
  height: 0vh;
  transform: translate(0, -200px);
  position: relative;
  z-index: 1;
  /* background-color: transparent; */
}
.card-box {
  padding: 20px;
  color: #fff;
}

.bg-clipboard:hover span i,
.bg-laptop:hover span i,
.bg-globe:hover span i {
  transform: scale(1.3);
  transition: all 1s;
}
.a-link a:hover {
  text-decoration: none;
}
.card-box a {
  color: #fff;
}
.bg-globe {
  background-color: #26313c;
  left: 2rem;
  top: 1.5rem;
}
.bg-clipboard {
  background-image: linear-gradient(
    to right,
    #5192e1 0%,
    #23ced5 51%,
    #5192e1 100%
  );
  position: relative;
  height: 260px;
  display: block;
  z-index: 1;
}
.bg-laptop {
  background-color: #26313c;
  right: 2rem;
  position: relative;
  display: block;
  height: 225px;
  top: 1.5rem;
}
.text-decoration-none {
  text-decoration: none;
}
