.protfolio-cs {
  background-image: url(../../../../public/assets/people-say.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.test-star {
  font-size: 12px;
  color: #ffc13c;
  cursor: pointer;
}
.ml-2 {
  margin-left: 1rem;
}
.img-wdt {
  width: 30% !important;
  border-radius: 50%;
  /* transform: translate(0, -50px); */
  z-index: 10;
}
.carousel-indicators {
  display: none;
}
.carousel-indicators {
  transform: translate(0, 200px);
}
