.protfolio-cs {
  background-image: url(../../../../public/assets/people-say.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.carousel-control-prev {
  transform: translate(-24px, 180px);
  height: 20px;
}
.carousel-control-prev-icon {
  background-color: red;
}
.carousel-control-next {
  transform: translate(-900px, 180px);
  height: 20px;
}
.carousel-control-next-icon {
  background-color: red;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-image: linear-gradient(
    to right,
    #5192e1 0%,
    #23ced5 51%,
    #5192e1 100%
  );
}
.test-star {
  font-size: 12px;
  color: #ffc13c;
  cursor: pointer;
}
.ml-2 {
  margin-left: 2rem;
}
.img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.img-wdt {
  /* transform: translate(0, -50px); */
  z-index: 10;
  transition: 0.5s all ease-in-out;
  position: center;
}
.img-wdt:hover {
  transform: scale(1.2);
}
.carousel-indicators {
  display: none;
}
.carousel-indicators {
  transform: translate(0, 200px);
}
