.font-31 {
  font-size: 31px;
}
.fw-1 {
  font-weight: 100;
}
.fw-7 {
  font-weight: 700;
}
.banar-pos {
  width: 100%;
  height: 220px;
}
.overlay-dark {
  background-image: none;
  background-color: #000;
  z-index: 1;
  visibility: visible;
}
.home-crousel .crousel-item .background-gradient {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 50%) 0%,
    rgba(0, 0, 0, 60%) 100%
  );
}
.home-crousel .crousel-item img {
  position: relative;
  z-index: -1;
  display: block;
}
.home-crousel .carousel-control-prev,
.home-crousel .carousel-control-next {
  display: none;
}
.home-crousel .carousel-indicators {
  transform: translate(30%, -86%);
  display: flex;
  top: 50%;
  flex-direction: column;
  width: 5%;
  padding: 0;
  margin: 0;
  height: 5%;
}
.home-crousel .carousel-indicators button::after {
  content: "1";
}
.home-crousel .crousel-item .crousel-caption {
  position: absolute;
  top: 50%;
}

.home-crousel .crousel-item .crousel-caption .tex-content {
  transform: translate(0, -100%);
}
/* .home-crousel .crousel-item .social-icons {
   width: 5%;
  padding: 0;
  margin: 0;
  height: 5%; 
} */
.home-crousel .crousel-item .social-icons .li-inline-cs {
  transform: translate(97%, -350%);
  flex-direction: column;
}
.home-crousel .crousel-item .social-icons .li-inline-cs a i {
  color: #fff;
}
