.text-black1 {
  color: #384141;
}
.gry-clr {
  color: #808080;
}
.font-48 {
  font-size: 48px;
}
.font-24 {
  font-size: 24px;
}
.mxy-1 {
  margin: 2rem 20rem;
}
.li-inline-cs {
  padding-left: 0;
}
.contact-ul a {
  color: #26313c;
}
.li-inline-cs li {
  padding: 0.2rem;
}
.li-inline-cs li:hover .facebook {
  background-color: #4267b2;
}
.li-inline-cs li:hover .twitter {
  background-color: #00acee;
}
.li-inline-cs li:hover .linkedin {
  background-color: #0e76a8;
}
.li-inline-cs li:hover .insta {
  background-color: #dc3545;
}
.li-inline-cs li:hover .whatsapp {
  background-color: #128c7e;
}
.li-inline-cs li:hover .envelop {
  background-color: #0dcaf0;
}
.li-inline-cs li:hover a {
  color: #fff;
  border-radius: 50%;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
