.pt-10 {
  padding-top: 5rem;
}
.marl-3 {
  margin-left: 3rem;
}
.spn-hvr {
  cursor: pointer;
}
.div-hvr :hover .spn-hvr {
  color: #24cdd5;
}
.div-hvr .icon i {
  transition: 0.3s;
}
.div-hvr:hover .icon i {
  transform: translate(0, -20%) scale(1.2);
}
.app-image {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.app-slider-lock img,
.app-slider-photoView img {
  width: 100%;
}
.app-slider-lock-btn {
  position: absolute;
  bottom: 0;
  opacity: 10;
  width: 40px;
  height: 40px;
  border: 3px solid #0b0b0b;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 3;
  transition: 0.3s;
}
.app-slider-lock-btn:hover {
  transform: translate(-50%, -70%) scale(1.1);
}
.app-slider-lock,
.app-slider-photoView {
  z-index: 2;
  display: block;
  position: absolute;
  top: 14px;
  width: 235px;
  left: 58px;
  height: 475px;
}
/* .phoneImg {
  background-image: url("../../../../public/assets/iphone.png");
  background-repeat: no-repeat;
  height: 100vh;
  margin-left: 15%;
  position: relative;
} */
.app-image > img {
  max-width: 280px;
  margin: 0 auto;
  display: inline-block;
  pointer-events: none;
  position: inherit;
  z-index: 100;
}
