body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* body ::-webkit-scrollbar {
  width: 1em;
  z-index: 100;
  background-color: red;
}

body ::-webkit-scrollbar-thumb {
  background-color: rebeccapurple;
  border-width: 2px 0 2px;
  border-style: solid;
  border-color: #3d1d5b;
  box-shadow: 0 -100vh 0 100vh #00ffac;
} */
code {
  font-family: "Open Sans", sans-serif;
}
