.card {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.card-img-top {
  transition: 0.3s all ease-in-out;
  position: center;
}
.card:hover img {
  transform: scale(1.2);
}
.card-shape {
  padding: 2rem 1rem;
  background: #fff;
  text-align: center;
  /* height: 108px; */
  position: relative;
  overflow: hidden;
  transition: 0.8s;
  z-index: 1;
}
.transfrom-body {
  transform: translate(0px, 35%);
  margin-top: -4rem;
}

/* .card-shape:after {
  content: "";
  width: 280px;
  height: 108px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -40%);
  z-index: 20;
  background-color: rgba(24, 220, 255, 00.8);
  transition: 0.8;
} */

/* .card-shape:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, transparent);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
} */
/* .card-shape:hover::after {
  transform: translate(-50%, -50%);
} */
/* .card-img-top {
  transition: 0.8s;
  height: 200px;
  width: 250px;
  overflow: hidden;
}
*/
.team-conten h4 {
  font-size: 18px;
}
.team-conten .team-details {
  font-size: 13px;
  color: #232323;
}

.socila-icons-link {
  display: none;
}
.team-content {
  height: 60px;
}
.card:hover .card-shape {
  background-image: linear-gradient(
    to right,
    #5192e1 0%,
    #23ced5 51%,
    #5192e1 100%
  );
  height: 124px;
}
.card:hover .team-content {
  color: #fff;
  margin-top: -10px;
}
.card:hover .socila-icons-link {
  display: block;
  margin-top: -10px;
}
