.bodycontainerbg {
  background-color: #fff;
  padding: 3%;
}
.bodycontainer {
  width: 100%;
  height: 0vh;
  transform: translate(0, -80px);
  contain: "";
  /* background-color: transparent; */
}
.mar-top-2 {
  margin-top: 1.4rem;
}
.mart-1 {
  margin-top: -1%;
}

.btngrident {
  background-image: linear-gradient(
    to right,
    #5192e1 0%,
    #23ced5 51%,
    #5192e1 100%
  );
  color: #fff;
}
.button {
  position: relative;
  display: inline-block;
  font-size: 15px;
  padding: 0.8rem 2.25rem;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  z-index: 1;
  border: 1px solid transparent;
  border-radius: 30px;
}
